body{
  background-color: #e3e3e3;
  font-family: Trebuchet, Arial, Helvetica, sans-serif;
  margin: 0;
}
.header{
  display: flex;
  justify-content: center;
  background-color: #2f2f2f;

}
.container{
  display: flex;
  justify-content: center;
}
.flex_main{
  max-width: 1200px;
  display: flex;
  flex: 1;
  flex-flow: column wrap;
}
.head_wrap{
  padding: 0;
  margin: 0;
  max-width: 1200px;
  display: flex;
  flex: 200;
  flex-flow: row wrap;
}
.logo, .title, .nav_menu{
  background: #2f2f2f;
  padding: 0;
  text-align: center;
  height: 80px;
  line-height: 80px;
  color: white;
  flex:1;
}
.logo img{
  height: 80px;
}

.nav_menu{
  flex: 5;
}
.title{
  min-width: 300px;
  font-size: 1.5em;
}
.nav_menu{
  width: 550px;
  display: flex;
  padding: 0px 15px;
  margin: 0;
  list-style: none;
  justify-content: flex-end;
  flex-flow: row nowrap;
}
.nav_menu li{
  height: 30px;
  line-height: 30px;
  margin-top: 50px;  
}
.nav_menu a{
  white-space: nowrap;
  display: inline-block;
  padding: 0px 15px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.nav_menu #active{
  background-color:#e3e3e3;
  color:black;
}

.selector{ 
  display: inline-block;
  white-space:nowrap; 
  max-width: 150px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  margin: 30px 0;
  padding:10px 60px 10px 10px;
}
.selector select{
  margin-top: 10px;
  width:150px;
}

 .selector span{
    display: block;
  }
#cross{
  width: 10px;
}
#calendar{
  width: 20px;
}

.name{
  font-weight: bold;
  height: 50px;
  margin-bottom: 30px;
  line-height: 50px;
  background-color: #2f2f2f;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.charts img{
  width: 48%;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
}

.charts .right{
  float: right;
}

#chart{
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  background-color: white;
}
#chart_type, #row_num, #distrib{
  margin-top: 20px;
  margin-left:20px;
  display: inline-block;
}
#chart_type{
  width: 200px;
}
#row_num, #distrib{
  width: 100px;
}

#chart_type select{
  width: 200px;
  margin-top: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
#row_num select, #distrib select{
  width:100px;
  margin-top: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

#table {
    margin:20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

#table td, th {
    border: 2px solid white;
    border-bottom: 2px solid #eeeeee;
    text-align: left;
    padding: 8px;
    font-size:14px;
    font-weight: normal; 
}
th{
  background-color: #eeeeee;
}
th:nth-child(1){
  width: 30%;
}
th:nth-child(5){
  width: 80%;
}
#table td:nth-child(1){
  text-decoration: underline;
}
#table_chart div{
  display: inline-block;
}
.positive{
  height: 15px;
  background-color: #8bc34a;
  outline: 3px solid #8bc34a;
  display: inline-block;
}
.negative{
  height: 15px;
  float: right;
  background-color: #ff5722;
  outline: 3px solid #ff5722;
  display: inline-block;
}

.filter{
  position: fixed;
  top:220px;
  left: 0px;
  width: 140px;
}
.filter select{
  margin: 10px 0;
  width: 110px;
}
.filter input[type=text]{
  width: 90px;
  margin: 10px 0px 10px 0px;
}
#filter_title{
  padding-left: 10px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
  background-color: #2f2f2f;
  color: white;
  border-top-right-radius: 10px;
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75); 
}
#filter_data{
  border-bottom-right-radius: 10px;
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75); 
  background-color: white;
  padding-left: 10px;
  padding-top: 10px; 
}

@media screen and (max-width:1500px){
  .filter{
    position: static;
    width:100%;
    margin:20px 0px;
    text-align: center;
  }
  .filter select{
    margin-right: 50px;
  }
  .filter span{
    margin-right: 10px;
  }
  #filter_title{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  #filter_data{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
@media screen and (max-width:1000px){
  .nav_menu{
    justify-content: center;
    height: 30px;
  }
  .nav_menu li{
    margin-top: 0px;
  }
  .name{
    border-radius: 0px;
    margin: 0;
  }
  .selector{
    border-radius: 0px;
    min-width: 100%;
    text-align: center;
    margin: 0;
  }
  .charts img{
    width: 80%;
  }
  .charts, .charts .right{
    text-align: center;
    float: none; 
  }
  #chart{
    border-radius: 0px; 
  }
  .filter{
    margin: 0;
  }
  #filter_title, #filter_data{
        border-radius: 0px;
  }
}