body{
	margin: 0px;
	background-color: #eeeeee;
	width: 100%;
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
}
#header_wrap, #content_wrap{
	margin: 0 auto;
	width:1200px;
}
#header {
	background-color: #2f2f2f;
	height: 80px;		
}
#header_wrap{
	color: white;
	white-space: nowrap;
}
.menu, .title, .logo{
	background-color: #2f2f2f;
	display: inline-block;
	vertical-align: middle;
   	height: 80px;
}

#logo{
	height: 80px;
}
.title{
	line-height: 80px;
	min-width: 250px;
	font-size:22px;
}
.menu{
	width: 800px;
}
.menu a{
	display: inline-block;
	height: 30px;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	line-height: 30px;
	padding: 0px 15px;
	font-size: 14px;
	text-decoration: none;
	color: white;
}
.menu nav{
	margin-top: 50px;
	height: 30px;
	float: right;
}
.menu #active{
	background-color:#e3e3e3;
	color:black;
}
.filter{
	position: fixed;
	top:220px;
	width: 140px;
}
.filter select{
	margin: 10px 0;
	width: 110px;
}
.filter input[type=text]{
	width: 90px;
	margin: 10px 0px 10px 0px;
}
#filter_title{
	padding-left: 10px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	background-color: #2f2f2f;
	color: white;
	border-top-right-radius: 10px;
	box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75); 
}
#filter_data{
	border-bottom-right-radius: 10px;
	box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75); 
	background-color: white;
	padding-left: 10px;
	padding-top: 10px; 
}
.selector{
	width: 150px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin: 30px 0;
	padding:10px 60px 10px 10px;
}
.selector select{
	margin-top: 10px;
	width:150px;
}
#cross{
	position: relative;
	left: 155px;
	top:-20px;
	width: 10px;
}
#calendar{
	position: relative;
	top: 5px;
	width: 20px;
}
.name{
	font-weight: bold;
	height: 50px;
	margin-bottom: 30px;
	line-height: 50px;
	background-color: #2f2f2f;
	color: white;
	text-align: center;
	border-radius: 10px;
}
.charts img{
	width: 587px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
}

.charts .right{
	margin-left: 20px;
}

#chart{
    padding-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
	background-color: white;
}
#chart_type, #row_num, #distrib{
	margin-left:20px;
	margin-top:30px;
	display: inline-block;
}
#chart_type{
	width: 200px;
}
#row_num, #distrib{
	width: 100px;
}
#chart_type select{
	width: 200px;
	margin-top: 10px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}
#row_num select, #distrib select{
	width:100px;
	margin-top: 10px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

#table {
	margin:20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1160px;
}

#table td, th {
    border: 2px solid white;
    border-bottom: 2px solid #eeeeee;
    text-align: left;
    padding: 8px;
    font-size:14px;
    font-weight: normal; 
}
th{
	background-color: #eeeeee;
}
th:nth-child(1){
	width: 250px;
}
th:nth-child(5){
	width: 550px;
}
#table td:nth-child(1){
	text-decoration: underline;
}
#table_chart div{
	display: inline-block;
}
.positive{
	height: 15px;
	background-color: #8bc34a;
	outline: 3px solid #8bc34a;
	display: inline-block;
}
.negative{
	height: 15px;
	float: right;
	background-color: #ff5722;
	outline: 3px solid #ff5722;
	display: inline-block;
}
